@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="login-wrapper d-flex justify-content-center align-items-center">
    <form class="login-form" action="/Login/Login" method="post">
        <i class="fa-solid fa-circle-xmark fa-2xl quit-btn"></i>
        <h1>Đăng nhập</h1>
        <div class="login-link-btn">
            <i class="fa-brands fa-facebook fa-2xl"></i>
            <i class="fa-brands fa-instagram fa-2xl"></i>
            <i class="fa-brands fa-google fa-2xl"></i>
        </div>
        <div class="form-inp">
            <div class="inp-group">
                <label>Nhập tên</label>
            </div>
            <div class="inp-group">
                <label>Nhập mật khẩu</label>
            </div>
        </div>
    </form>
</div>