
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="swiper swiper-showing-movie">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <a class="card-link" href="/Product/Product">
                <div class="card">
                    <img src="~/images/phim1.jpg" />
                    <div class="card-content">
                        <p class="card-title">Minion 4</p>
                        <p class="card-review">ởi Illumination và do Universal Pictures phân phối. Đây là phần phim hậu truyện của Kẻ trộm mặt trăng 3 và đồng thời cũng là phần phim chính thứ tư kiêm tác phẩm thứ sáu trong loạt phim Kẻ trộm Mặt Trăng.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a class="card-link" href="/Product/Product">
                <div class="card">
                    <img src="~/images/phim1.jpg" />
                    <div class="card-content">
                        <p class="card-title">Minion 4</p>
                        <p class="card-review">ởi Illumination và do Universal Pictures phân phối. Đây là phần phim hậu truyện của Kẻ trộm mặt trăng 3 và đồng thời cũng là phần phim chính thứ tư kiêm tác phẩm thứ sáu trong loạt phim Kẻ trộm Mặt Trăng.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a class="card-link" href="/Product/Product">
                <div class="card">
                    <img src="~/images/phim1.jpg" />
                    <div class="card-content">
                        <p class="card-title">Minion 4</p>
                        <p class="card-review">ởi Illumination và do Universal Pictures phân phối. Đây là phần phim hậu truyện của Kẻ trộm mặt trăng 3 và đồng thời cũng là phần phim chính thứ tư kiêm tác phẩm thứ sáu trong loạt phim Kẻ trộm Mặt Trăng.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a class="card-link" href="/Product/Product">
                <div class="card">
                    <img src="~/images/phim1.jpg" />
                    <div class="card-content">
                        <p class="card-title">Minion 4</p>
                        <p class="card-review">ởi Illumination và do Universal Pictures phân phối. Đây là phần phim hậu truyện của Kẻ trộm mặt trăng 3 và đồng thời cũng là phần phim chính thứ tư kiêm tác phẩm thứ sáu trong loạt phim Kẻ trộm Mặt Trăng.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a class="card-link" href="/Product/Product">
                <div class="card">
                    <img src="~/images/phim1.jpg" />
                    <div class="card-content">
                        <p class="card-title">Minion 4</p>
                        <p class="card-review">ởi Illumination và do Universal Pictures phân phối. Đây là phần phim hậu truyện của Kẻ trộm mặt trăng 3 và đồng thời cũng là phần phim chính thứ tư kiêm tác phẩm thứ sáu trong loạt phim Kẻ trộm Mặt Trăng.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- If we need navigation buttons -->
    <i class="fa-solid fa-circle-left fa-2xl swiper-button-prev"></i>
    <i class="fa-solid fa-circle-right fa-2xl swiper-button-next"></i>
</div>